<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rafaelsoh.dime</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dimeapp</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>BudgetWidgetConfigurationIntent</string>
		<string>InsightsWidgetConfigurationIntent</string>
		<string>RecentTransactionConfigurationIntent</string>
		<string>RecentWidgetConfigurationIntent</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search Entries</string>
			<key>UIApplicationShortcutItemType</key>
			<string>dimeapp://search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.app</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Expense</string>
			<key>UIApplicationShortcutItemType</key>
			<string>dimeapp://newExpense</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
